// @import './assets/css/katex.min.css';

$default: #009688;
$primary: #4FC3F7;
$secondary: #03A9F4;
$success: #4CAF50;
$warning: #FFEE58;
$danger: #D32F2F;
$info: #4DD0E1;
$light: #E1F5FE;
$dark: #01579B;

.e-primary{color:$primary}
.e-secondary{coloy:$secondary}
.e-success{color:$success}
.e-warning{color:$warning}
.e-danger{color:$danger}
.e-info{color:$info}
.e-light{color:$light}
.e-dark{color:$dark}
.eb-primary{background-color:$primary}
.eb-secondary{background-color:$secondary}
.eb-success{background-color:$success}
.eb-warning{background-color:$warning}
.eb-danger{background-color:$danger}
.eb-info{background-color:$info}
.eb-light{background-color:$light}
.eb-dark{background-color:$dark}

body,html{
  color: $default;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  // text-align: center;
  // a {
  //   font-weight: bold;
  //   color: $default;
  //   &.router-link-exact-active {
  //     color: $primary;
  //   }
  // }
}

.content{
  text-align: center;
  color: $default;
}
.markdown-preview{
  text-align: left;
  background-color: white;
}
.blogmd{
  text-align: left;
  font: 12px;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    // -webkit-animation-iteration-count: infinite;
}
.shake .shake-infinite{
    display:inline-block
}
.shake-infinite:hover{
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
}
.shake-effect{
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
